@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Smooch+Sans:wght@541&display=swap');

.letras{
  font-family: 'Smooch Sans', sans-serif;
  color: #0d6efd;
  padding: 5px;
}

.card{
  width: 18rem;
  background-color: #273746;
  color: #E7F1FF;
  font-weight: 500;
  margin: 5px;
}

.card:hover{
  transform: translateY(-2%);
  color: #0d6efd ;
  background-color: #E7F1FF;
  font-weight: 800;
}

.bg{
  background-color: #273746;
}

.bg2{
  background-color: #4F6E8C;
}

.bg3{
  background-color: #E7F1FF;
}

.pulsar{
  padding: 16px;
}

.pulsar:hover{
  transform: translateY(-2%);
  color: #0d6efd ;
  background-color: #E7F1FF;
  font-weight: 800;
}